---
layout: main
some_var: 999
another_var: bottles of beer on the wall
---

<h1>not much to do here except .. </h1>
<p><%= meta[:some_var]%> ... <%= meta[:another_var] %> ... take one down ...</p>
<p>a little song teaser</p>

<a href="/index.html">back to index</a>
